.wrapper {
    background-image: url('/img/PORTADA-RUTA-40.jpg'); /* Ruta relativa desde la raíz del dominio */
    background-size: cover; /* Otras propiedades que puedes usar */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegúrate de que tenga una altura adecuada */
}
