/* Ajusta el contenido para que sea transparente y permita ver el fondo */
.wrapper, .content-wrapper, .main-footer, .main-header {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco semitransparente */
}
  
.home-content {
    margin: 70px auto 40px;
    padding: 20px;
    max-width: 1000px;
}

.travel-history-container {
    margin: 20px auto; /* Margen superior/inferior de 20px y centrado */
    padding: 10px;
    max-width: 90%; /* Limita el ancho de la tabla */
}
  
.new-trip-form {
    margin-top: 2.5rem; /* Margen superior */
    margin-left: 13rem; /* Margen izquierdo */
    max-width: 50%
} 

.contact-us-container {
    margin-top: 3rem; /* Margen superior */
    margin-left: 13rem; /* Margen izquierdo */
    max-width: 70%
} 
  